# Ignore all .txt and .pickle files
*.txt
*.pickle
*.png

# Ignore a specific output directory
/code/outputs/
/code/pickle/

# Ignore temporary files
*.tmp
*.log

__pycache__/
*.pyc
*.pyo
*.jpg
*.pdf
*.csv

/venv/

# Ignore large pickle files
code/pickle/allgdres001.pickle
code/pickle/allngdres.pickle
code/OSG_submit/
code/analysis/stability_res
code/analysis/mapping_diff_txt
code/analysis/phase_partition
code/analysis/plot_partition



*.zip
*.tar
venv.tar.gz
*.pdf
.DS_Store
*.sh
*.sub

code/analysis/combine_data.py