# Ignore all .txt and .pickle files
*.txt
*.pickle
*.png

# Ignore a specific output directory
/code/outputs/
/code/pickle/

# Ignore temporary files
*.tmp
*.log

__pycache__/
*.pyc
*.pyo
*.jpg

/venv/

# Ignore large pickle files
code/pickle/allgdres001.pickle
code/pickle/allngdres.pickle
code/OSG_submit/

*.zip
*.tar
*.pdf
.DS_Store
*.sh
*.sub